<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
      <p>Công Ty TNHH Giải Pháp Phần Mềm Điện Toán Đám Mây<a href="keri.vn">Keri</a>  </p>
      <p>Địa chỉ: P205. Tòa nhà SBI, Công Viên Phần Mềm Quang Trung,phường Tân Chánh Hiệp, Quận 12</p>
      <p>SĐT: 028 3715 0068</p>
      <p>Email: hr@keri.vn</p>
    </div>
  
    <div class="unit two-thirds align-right center-on-mobiles">
      <p> Phần Mềm Kế Toán <a href="https://keri.vn">   Keri                   </a>  </p><br>
      <p> <a href="https://nghethuatketoan.vn/">        Trang Chủ              </a>  </p><br>
      <p> <a href="https://nghethuatketoan.vn/docs/">   Kế Toán                </a>  </p><br>
      <p> <a href="https://nghethuatketoan.vn/resources/">  Phần Mềm Kế Toán   </a>  </p>  
    </div>
  </div>
</footer>
