<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li {%- if page.title == 'News' %} class="current" {%- endif %}>
        <a href="/news/">Tổng Hợp</a>
      </li>
      <li {%- if page.title == 'Releases' %} class="current" {%- endif %}>
        <a href="/news/releases/">Kế Toán Trưởng</a>
      </li>
    </ul>
    <h4>Chi Tiết</h4>
    <ul>
      {% for post in site.categories.release limit:5 %}
      <li {%- if page.title == post.title %} class="current" {%- endif %}>
        <a href="{{ post.url }}">Version {{ post.version }}</a>
      </li>
      {% endfor %}
      <li>
        <a href="/docs/history/">Lịch Sử »</a>
      </li>
    </ul>
  </aside>
</div>
